{% if settings.dynamic_button_on_off %}
<div style="text-align: center;" class="dynamic-buy-button">
	<a class="btn btn--secondary btn--primary-color btn--clear" href="{{ settings.button_link }}">{{ settings.text_button_name }}</a>
</div>
{% endif %}