{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if section.settings.show_powered_by %}
  <footer class="password-footer text-center" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="password-footer">
    {% capture shopify %}
    <a href="//www.shopify.com" target="_blank" title="<ly-as-11859734>Create your own online store with Shopify</ly-as-11859734>">
      <span class="visually-hidden"><ly-as-11859733>Shopify</ly-as-11859733></span>
      {% include 'icon-shopify-logo' %}
    </a>
    {% endcapture %}
    {% comment %}ly_i18n_replace_for_[ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}{% endcapture %}{% include 'ly-static-string' with '11859736' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = shopify  %}{% assign ly_template = ly_template | replace: '[[shopify]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
  </footer>
{% endif %}

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_powered_by",
      "label": "Show 'powered by Shopify'",
      "default": true
    }
  ]
}
{% endschema %}
